<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.MemberMapper">

    <select id="findMember" parameterType="String" resultType="Integer">
        SELECT COUNT(id) FROM t_member WHERE regTime &lt;= #{month}
    </select>

    <select id="findTodayNewMember" resultType="int" parameterType="String">
        select count(*) from t_member where regTime = #{date}
    </select>

    <select id="findTotalMember" resultType="int">
        select count(*) from t_member
    </select>

    <select id="thisWeekNewMember" resultType="int" parameterType="map">
        SELECT COUNT(*) FROM t_member WHERE regTime BETWEEN #{firstDay} AND #{lastDay};
    </select>

    <select id="findThisMonthNewMember" resultType="int" parameterType="map">
         SELECT COUNT(*) FROM t_member WHERE regTime BETWEEN #{firstDayOfThisMonth} AND #{lastDayOfThisMonth};
    </select>
</mapper>