<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.UserMapper">

    <select id="findByUsername" parameterType="String" resultType="Integer">
        select count(*) from t_user where username = #{username}
    </select>

    <update id="updatePassword" parameterType="Map">
        update t_user set password = #{password} where username = #{username}
    </update>
</mapper>